@import '_vars.scss';

/**************/
/* FRONTPAGE */
/************/
.container{
  padding:0;
}
.categoryTitle
{
  position: absolute;
  top:-0.25rem;
  left:.5rem;
  font-size:.75rem;
  font-weight:400;
  font-family:$roboto;
  text-transform: uppercase;
  letter-spacing: .06875rem;
  background:transparent;
  color:var(--fg);
  padding: .5rem 0;
  line-height:1rem;
  margin:0;
  border-bottom: 1px solid var(--fg);
}
.productList
{
  padding-top:1rem;
  position: relative;
  margin: 0 0 3rem 0;
}

.grid
{
  margin-bottom: 3rem;
  padding: 0 1rem;
}
.masonryGrid {
  display: flex;
  width: auto;
  margin: 0 -.5rem;
}
.masonryGridColumn {
  padding: 0 .5rem; /* gutter size */
  background-clip: padding-box;
  position: relative;

  &:nth-child(2)
  {
    padding-top: 2rem;
  }
  &:nth-child(4)
  {
    padding-top: 1rem;
  }  
}

.product
{
  margin-bottom: 2rem;
  text-align: center;
}
.productImage
{
  margin: 0 0 1rem 0;
  position: relative;
  overflow: hidden;
}
.productTitle
{
  font-size:1.875rem;
  font-weight:300;
  margin: 0 0 .5rem 0;
  color: var(--fg);
}
.productPrice
{
  margin: 0 0 1rem 0;
  font-weight:600;
  font-size:1em;
  text-transform: uppercase;
  letter-spacing: .0075rem;
  color: var(--fg);
}
.sizeOptions
{
  font-weight:300;
  text-transform: uppercase;
  font-size: .6875rem;
  opacity: .75;
  margin:0 0 .5rem 0;
  color: var(--fg);
}
.sizeOption
{
  margin:0 .125rem;
}
.hasImages
{
  cursor: pointer;
  cursor: hand;
}

.pager
{
  position: absolute;
  left:0;
  right:0;
  bottom: .5rem;
  z-index: 5;
}
.pagerItem
{
  display: inline-block;
  margin: 0 .1875rem;
  border: 1px solid white;
  border-radius: 100%;
  width: .6875rem;
  height: .6875rem;
  background:transparent;
}
.active
{
  border-color:var(--secondaryAccent);
  background:var(--secondaryAccent);
}

.illustration {   

  margin-bottom: 1rem;

  .portrait
  {

  }
  .landscape
  {

  }
}

.description
{
  text-align: center;
  max-width: $maxWidthSmall;
  margin: 4rem auto;
  color: var(--fg);

  p
  {
    margin:0;
  }
}