/******************/
/* COMMON STYLES */
/****************/
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.dark .imageBg {
  background: rgba($black, 0.3) !important;
}

html,
body {
  font-family: $font;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: $white;
  //overscroll-behavior-y: none;

  &.noscroll {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: none;
  }

  .wrap:after {
    content: '';
    background: rgba($white, 0);
    display: block;
    transition: background-color 0.4s linear;
    z-index: 0;
    left: -9999px;
  }

  &.noscroll .wrap:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($white, 0.3);
    z-index: 15;
  }
}

#__next {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  overflow: hidden;
  z-index: 1;
  background: var(--bg);

  &.mobileNaviOpen {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &.cartOpen {
    overflow: visible !important;
    height: 100%;
  }
}

#main {
  position: relative;
  padding: $mainNavHeight 0 0 0;
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  max-width: $maxWidth;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1em;
  line-height: 1.25em;
  font-weight: 500;
}

.hidden {
  display: none !important;
}

button {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  outline: 0;
  line-height: 1rem;
  font-size: 0.875rem;
  font-weight: 300;
  cursor: pointer;
  cursor: hand;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  border: 1px solid var(--fg);
  border-radius: 0px;

  background: transparent;
  color: var(--fg);
  min-width: 154px;
  font-size: var(--buttonTextSize);
  padding: 0.75rem 2rem;

  transition: all 0.1s linear;

  &[disabled] {
    opacity: 0.5;
  }

  &:hover {
    border-color: var(--secondaryAccent);
    color: var(--secondaryAccent);
  }
}

select {
  display: block;
  width: auto;
  min-width: 3.5rem;
  border: 1px solid var(--fg);
  height: 38px;
  margin: 0;
  padding: 0;
  text-indent: 0.75rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  appearance: none;
}

.hideOnMobile {
  display: none;
}

#__next {
  &.mobileNaviOpen {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    overflow: hidden;
  }

  &.cartOpen {
  }
}

/******************/
/* MEDIA QUERIES */
/****************/

@media all and (min-width: 768px) {
  #__next {
    &.cartOpen:after {
      display: block;
      z-index: 9999;
      opacity: 1;
    }
    &:after {
      content: '';
      display: none;
      position: absolute;
      background: rgba($lighter_grey, 0.75);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
      opacity: 0;
      transition: all 0.3s linear;
    }
  }
  .dark #__next:after {
    background: rgba($black, 0.75);
  }
}

/* ----------- NON-Retina Screens ----------- */
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  * {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  * {
    -webkit-font-smoothing: antialiased;
  }
}
