/*************/
/* LIGHTBOX */
/***********/
#SRLLightbox {
  .SRLCloseButton,
  .SRLNextButton,
  .SRLPrevButton {
    background: transparent;
    justify-content: flex-end;
    svg * {
      fill: $blue;
    }
  }
  .SRLCloseButton svg * {
    fill: $blue;
  }
  .SRLCaptionContainer {
    display: none;
  }

  .SRLElementWrapper {
    padding: 0 1rem;
  }
}

.dark #SRLLightbox {
  .SRLContainer {
    background: $darker_grey;
  }
  .SRLCloseButton svg *,
  .SRLNextButton svg *,
  .SRLPrevButton svg * {
    fill: $light_blue;
  }
}
