/*************/
/* LIGHTBOX */
/***********/
#SRLLightbox {
  .SRLCloseButton,
  .SRLNextButton,
  .SRLZoomOutButton {
    justify-content: flex-end;
  }
  .SRLPrevButton {
    justify-content: flex-start;
  }
  .SRLCloseButton,
  .SRLNextButton,
  .SRLPrevButton,
  .SRLZoomOutButton {
    background: transparent;
    svg * {
      fill: $blue;
    }
  }
  button.SRLZoomOutButton {
    top: 40px;
    right: -145px;
    align-self: flex-end;
  }
  .SRLCloseButton svg * {
    fill: $blue;
  }
  .SRLCaptionContainer {
    display: none;
  }

  .SRLElementWrapper {
    padding: 0 1rem;
  }
}

.dark #SRLLightbox {
  .SRLContainer {
    background: $darker_grey;
  }
  .SRLCloseButton svg *,
  .SRLNextButton svg *,
  .SRLPrevButton svg * {
    fill: $light_blue;
  }
}
