@import '_vars.scss';

/***************/
/* ABOUT-PAGE */
/*************/
.container {
  padding-top: 40px;
}

.content {
  max-width: $maxWidth;
  margin: 0 auto;
  text-align: center;

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0;
  }
}
.pageTitle {
  font-size: 2.5em;
  font-weight: 300;
  margin: 0 0 10px 0;
}

/******************/
/* MEDIA QUERIES */
/****************/
@media all and (min-width: 768px) {
}
