.packageInfo {
  color: var(--fg);
  width: 100%;
  text-align: center;
  padding: 0rem;
  margin-bottom: 4rem;
}

.title {
  font-size: var(--mainTitleSize);
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  color: var(--fg);
}

.packageImages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  gap: var(--spacing);
}

.packageImage {
  width: 100%;
  height: auto;
  padding: var(--spacing);
  margin: 0 0 var(--spacing) 0;
}

@media all and (min-width: 40rem) {
  .packageInfo {
    padding-top: 4rem;
  }
  .packageImages {
    flex-direction: row;
    margin: 0;
    align-items: center;
  }
  .packageImage {
    width: 33.33%;
    margin: 0;
    padding: 0;
  }
}
