:global(.noscroll) .footer {
  display: none;
}

.footer {
  padding: 1.25rem 0;
  position: relative;
  background: var(--darker-grey);
  color: var(--lighter-grey);
  font-family: var(--fontMono);
  height: auto;
  border-top: 1px solid var(--dark-grey);
}

.logo {
  display: none;
}
.copyright {
  position: static;
  margin: 1rem auto 0 auto;
  font-size: var(--miniTextSize);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer ul {
  list-style: none;
}

.pages {
  margin: 0 auto;
  padding: 0 1rem;
  list-style: none;
}

.pages li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: inherit;
  position: relative;
}

.pages li a {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  transition: color 0.1s linear;
  letter-spacing: 2px;
  padding: 1rem 0;
  border-bottom: 1px solid var(--dark-grey);
  font-size: var(--miniTextSize);
}

.pages li:hover a {
  color: var(--secondaryAccent);
}

.pages li:last-child a {
  border: 0;
}
