@import '_vars.scss';

/**********************/
/* ILLUSTRATION CARD */
/********************/

.illustration {
  margin-bottom: 1rem;
}
.loading {
  opacity: 0;
}
.loaded {
  transition: opacity 0.15s linear;
  opacity: 1;
}
.video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;

  video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  }
}
