.instaContainer {
  padding: 4rem 0;
  color: var(--fg);
  text-align: center;
}

.title {
  font-size: var(--mainTitleSize);
  font-weight: 600;
  margin: 0 0 1rem 0;
  color: var(--fg);
}
.link {
  margin: 0 0 2rem 0;
}
.link a {
  font-weight: 300;
  font-size: var(--miniTextSize);
  opacity: 0.75;
  margin: 0 0 0.5rem 0;
  padding: 0;
  color: var(--fg);

  &:hover {
    color: var(--secondaryAccent);
  }
}

.instaGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 0 1rem;
}
.instaPost {
  width: 100%;
  padding: 0 0 100% 0;
  height: auto;
  position: relative;
  background-size: cover;
  background-position: center center;
}

@media all and (min-width: 768px) {
  .instaGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
