.packageInfo {
  color: var(--fg);
  width: 100%;
  text-align: left;
  padding: 0rem;
  margin-bottom: 4rem;
}

.title {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
  color: var(--fg);
}

.packageImages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 -1rem;
}

.packageImage {
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 0 0 1rem 0;
}

/******************/
/* MEDIA QUERIES */
/****************/
@media all and (min-width: 640px) {
  .packageInfo {
    padding-top: 4rem;
  }
  .packageImages {
    flex-direction: row;
    margin: 0 -0.5rem;
  }
  .packageImage {
    width: 33.33%;
    margin: 0;
    padding: 0 0.5rem;
  }
}
