@import '_scroller.scss';

.container {
  padding: 4rem 0;
  width: 100%;
  width: 100vw;
  color: var(--fg);
  text-align: center;
}

.title {
  font-size: var(--mainTitleSize);
  font-weight: 600;
  margin: 0 1rem 0.25rem 1rem;
  color: var(--fg);
}

.description {
  margin: 0 1rem 2rem 1rem;
}

/* GRID MODE */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 0;
}
.gridItem {
  width: 100%;
  padding: 0;
  height: auto;
  position: relative;
}

@media all and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
