@import '_vars.scss';

.container
{
  max-width: $maxWidth;
  margin: 0 auto;
  padding:2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.smallHeading
{
  text-transform: uppercase;
  font-size:.6875em;
  letter-spacing: 2px;
  color:var(--fg);
  margin: 0 0 1rem 0;
}

.wrapper
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1rem;
}

.productInfo
{
  .info
  {
    width: 100%;
    margin:0 0 2rem 0;
    color:var(--bg);
    padding: 0 20px;

    .description
    {
      margin: 0 0 2rem 0;
      border-bottom: 1px solid $medium_grey;
      padding-bottom:1rem;

      p
      {
        font-size: .875rem;
        margin: 0 ;
      }
    }


    .options
    {
      margin-bottom: 1rem;
    }

    .addToCart
    {
      width:100%;
      margin-bottom:1rem;
    }
  }
}

.productTitle
{
  font-size:3rem;
  margin: 20px 0 10px 0;
}

.price
{
  font-weight: 700;
  margin: 0 0 20px 0;
}

.productImages
{
  width: 100%;
  margin:0;
  padding: 0;

  img
  {
    width:100%;
    height:auto;
    margin: 0 auto;
    display:block;
  }

  .productGallery
  {
    display: flex;
    align-items: flex-start;
    align-content: flex-start ;
    justify-content: flex-start;
    justify-items: flex-start;

    img
    {
      width:25%;
      margin: 10px 10px 0 0;
    }
  }
}

.productDescription
{
  width:100%;
  padding:2rem 0rem;
  min-height:400px;
  text-align:center;
  color: var(--fg);

  .wrapper
  {
    display: block;
    text-align: center;
    font-size:1.375em;
    line-height:1.5em;
  }

  p
  {
    width:100%;
    margin: 0 0 1rem 0;

    strong
    {
      font-size:.75rem;
      //font-weight:700;
    }
  }

  h1
  {
    width:100%;
    margin: 0 0 1rem 0;
    font-size:2.5rem;
    font-weight:300;
  }

}

.imageBg{
  background: $medium_grey;
  padding:2rem;
}

.shadow img
{
  box-shadow:5px 5px 5px 0px rgba($black, .25);
}

.variants
{
  display: flex;
  justify-content: center;
  margin: 0 0 1rem 0;

  span
  {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 0.025rem;
    margin:0 1rem 0 0;
    padding:0;
    line-height: 34px;
  }
}

.selectContainer
{
  position: relative;
  width:5rem;

  svg
  {
    position: absolute;
    right:1.5rem;
    top:.75rem;
    width:1rem;
    height:auto;
    transform: rotate(180deg);
    
  }
}

/******************/
/* MEDIA QUERIES */
/****************/
@media all and (min-width: 640px) {

  .wrapper{
    padding: 0 1rem;
    flex-direction: row;
  }

  .productDescription
  {
    text-align:left;
    width:50%;
  }

  .productInfo
  {
    width:50%;

    .info {
      width: 50%;
      margin:1rem 0 3rem 0;
      padding: 0 3rem 0 0;
    }
  }

  .variants
  {
    justify-content: flex-start;
  }

  .productImages
  {
    padding: 2rem 2rem 2rem 0;

    img
    {
      width:100%;
      height:auto;
      margin:0 auto 0 auto;
    }
  }


  .relatedProducts
  {

    max-width: $maxWidth;

    .products
    {
      display: flex;
      flex-wrap: wrap;

      .product
      {
        width:50%;
      }
    }
  }

}


@media all and (min-width: 960px) {
.productPage
{
  .relatedProducts
  {
    .products
    {
      .product
      {
        width:25%;
      }
    }
  }
}
}