.product {
  margin-bottom: 2rem;
  text-align: center;
}

/* IMAGES */
.productImage {
  margin: 0 0 0.25rem 0;
  position: relative;
  overflow: hidden;
}

.loading {
  opacity: 0;
}
.loaded {
  transition: opacity 0.15s linear;
  opacity: 1;
}

.showShadow {
  overflow: visible;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(var(--black), 0.25);
}

.hideSecondaryImage div:nth-child(2) {
  display: none;
}

.hasImages {
  cursor: pointer;
  cursor: hand;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hasImages::-webkit-scrollbar {
  display: none;
}

.hasImages div {
  flex: 1 0 90%;
}

.hasImages div:first-child {
  margin-right: 0.5rem;
  scroll-snap-align: start;
}
.hasImages div:nth-child(2) {
  margin-left: 0.5rem;
  scroll-snap-align: end;
}

/* PRODUCT INFO */
.productTitle {
  font-size: var(--mainTitleSize);
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  color: var(--fg);
}
.productPrice {
  margin: 0 0 1rem 0;
  font-weight: 600;
  font-size: var(--mainTextSize);
  text-transform: uppercase;
  letter-spacing: 0.0075rem;
  color: var(--fg);
}
.sizeOptions {
  font-weight: 300;
  text-transform: uppercase;
  font-size: var(--miniTextSize);
  opacity: 0.75;
  margin: 0 0 0.5rem 0;
  color: var(--fg);
}
.sizeOption {
  margin: 0 0.125rem;
}

/* PAGER */
.pager {
  position: relative;
  margin: 0 0 0.125rem 0;
  opacity: 0;
}
.hide {
  opacity: 0;
}
.pagerItem {
  display: inline-block;
  margin: 0 0.1875rem;
  border: 1px solid var(--fg);
  border-radius: 100%;
  width: 0.6875rem;
  height: 0.6875rem;
  background: transparent;
  position: relative;
}
.active {
  background-color: var(--fg);
}

/******************/
/* MEDIA QUERIES */
/****************/
@media all and (min-width: 40rem) {
  .productImage {
    display: block;
  }

  .hasImages div {
    display: block;
    width: 100%;
    margin: 0;
  }

  .hasImages div:first-child {
    margin-right: 0;
  }
  .hasImages div:nth-child(2) {
    margin-left: 0;
  }

  .hiddenImage {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .product:hover .productImage:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0.5rem solid var(--linkBlue);
    transition: all 0.05s ease-in-out;
  }

  .product:hover h2 {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
  }
  .product:hover * {
    color: var(--linkBlue);
    border-color: var(--linkBlue);
  }
  .product:hover span:after {
    background-color: var(--linkBlue);
  }
  .product:hover .active {
    background-color: var(--linkBlue);
  }

  .shopNowBtn {
    display: none;
  }

  .pagerItem {
    display: inline-block;
    margin: 0 0.1875rem;
    border: 1px solid var(--fg);
    border-radius: 100%;
    width: 0.859375rem;
    height: 0.859375rem;
  }
}
