@import '_vars.scss';

.product {
  margin-bottom: 2rem;
  text-align: center;
}

/* IMAGES */
.productImage {
  margin: 0 0 0.25rem 0;
  position: relative;
  overflow: hidden;
}
.hiddenImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* PRODUCT INFO */
.productTitle {
  font-size: var(--mainTitleSize);
  font-weight: 300;
  margin: 0 0 0.5rem 0;
  color: var(--fg);
}
.productPrice {
  margin: 0 0 1rem 0;
  font-weight: 500;
  font-size: var(--mainTextSize);
  text-transform: uppercase;
  letter-spacing: 0.0075rem;
  color: var(--fg);
  font-family: 'Open Sans';
}
.sizeOptions {
  font-weight: 300;
  text-transform: uppercase;
  font-size: var(--miniTextSize);
  opacity: 0.75;
  margin: 0 0 0.5rem 0;
  color: var(--fg);
}
.sizeOption {
  margin: 0 0.125rem;
}
.hasImages {
  cursor: pointer;
  cursor: hand;
}

/* PAGER */
.pager {
  position: relative;
  margin: 0 0 0.25rem 0;
}
.hide {
  opacity: 0;
}
.pagerItem {
  display: inline-block;
  margin: 0 0.1875rem;
  border: 1px solid var(--fg);
  border-radius: 100%;
  width: 0.6875rem;
  height: 0.6875rem;
  background: transparent;
  position: relative;
}
.active {
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    background: var(--secondaryAccent);
    border-radius: 100%;
    overflow: hidden;
  }
}

/******************/
/* MEDIA QUERIES */
/****************/

@media all and (min-width: 768px) {
  .pagerItem {
    display: inline-block;
    margin: 0 0.1875rem;
    border: 1px solid var(--fg);
    border-radius: 100%;
    width: 0.859375rem;
    height: 0.859375rem;
  }
}
