.container {
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.productContainer {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.smallHeading {
  text-transform: uppercase;
  font-size: 0.6875em;
  letter-spacing: 2px;
  color: var(--fg);
  margin: 0 0 1rem 0;
}

.productTitle {
  font-size: var(--mainTitleSize);
  font-weight: 300;
  margin: 20px 0 10px 0;
}

.price {
  margin: 0 0 1rem 0;
  font-weight: 600;
  font-size: var(--mainTextSize);
  text-transform: uppercase;
  letter-spacing: 0.0075rem;
  color: var(--fg);
}

.productImages {
  flex: 1 0 100%;
  margin: 0;
  padding: 0;
}

.productInfo {
}

.mainImage {
  padding: 2rem;
  background: var(--medium-grey);
}

.productImages img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.productGallery {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem -0.5rem;
}

.galleryImageBg {
  flex: 1 0 25%;
  max-width: 25%;
  margin: 0 0.5rem;
  cursor: pointer;
}

.productDescription {
  flex: 1 0 100%;
  padding: 2rem 0rem;
  min-height: 400px;
  text-align: center;
  color: var(--fg);
}

.productDescription .wrapper {
  display: block;
  text-align: center;
  font-size: 1.375em;
  line-height: 1.5em;
}

.productDescription p {
  width: 100%;
  margin: 0 0 1rem 0;
}

.productDescription p strong {
  font-size: 0.75rem;
}

.productDescription h1 {
  width: 100%;
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  font-weight: 300;
}

.productDescription ul {
  margin: 0 auto 1rem auto;
  text-align: center;
  list-style: none;
  padding: 0;
}

.imageBg {
  background: var(--medium-grey);
  padding: 2rem;
}

.variants {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

.variantsLabel {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  margin: 0 1rem 0 0;
  padding: 0;
  line-height: 1rem;
  align-self: center;
}

.variantsContainer {
  display: inline-block;
  min-width: 180px;
  width: auto;
  min-height: 100px;
  position: relative;
}
.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 0 1rem 0;
}
.bottom {
  width: 100%;
}
.shippingDisclaimer,
.outOfStockInfo {
  margin-top: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
}
.outOfStockInfo a {
  color: var(--linkBlue);
  text-decoration: underline;
}

.selectContainer {
  position: relative;
  width: auto;
}

.selectContainer svg {
  position: absolute;
  right: 0.6875rem;
  top: 0.875rem;
  width: 1rem;
  height: auto;
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  z-index: 1;
}

.selectContainer select {
  position: relative;
  z-index: 2;
}

.selectContainer:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0px 0px var(--linkBlue), inset -0px -0px var(--linkBlue);
  transition: all 0.05s ease-in-out;
}

.selectContainer:hover select {
  transition: all 0.05s ease-in-out;
  border-color: var(--secondaryAccent);
  color: var(--secondaryAccent);
}

.selectContainer:hover svg {
  fill: var(--secondaryAccent);
}

.selectContainer:hover:after {
  box-shadow: inset 4px 4px var(--linkBlue), inset -4px -4px var(--linkBlue);
}

.mainImage {
  position: relative;
  width: 100%;
  min-height: 200px;
  margin-bottom: 1rem;
}
.thumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.thumb {
  width: 80px;
  height: 80px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
  position: relative;
}
.thumb:hover,
.activeThumb {
  opacity: 1;
}

/******************/
/* MEDIA QUERIES */
/****************/
@media all and (min-width: 640px) {
  .wrapper {
    padding: 0 1rem;
    flex-direction: row;
  }

  .productDescription {
    text-align: left;
    flex: 1 0 50%;
  }

  .productDescription ul {
    text-align: left;
    list-style: disc;
    list-style-position: inside;
  }

  .variants {
    justify-content: flex-start;
  }

  .top {
    justify-content: flex-start;
  }

  .productImages {
    flex: 1 0 50%;
    padding: 0 2rem 2rem 0;
  }
  .productInfo {
    flex: 1 0 50%;
  }

  .productImages img {
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
  }

  .relatedProducts {
    max-width: var(--maxWidth);
  }

  .relatedProducts .products {
    display: flex;
    flex-wrap: wrap;
  }

  .relatedProducts .products .product {
    width: 50%;
  }
}
