.relatedProducts {
  padding: 2rem 0;
  width: 100%;
  width: 100vw;
}

.title {
  font-size: var(--mainTitleSize);
  font-weight: 600;
  margin: 0 0 1rem 0;
  color: var(--fg);
  text-align: center;
}
